{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    {{ with .Content }}<div class="post-content">{{ . }}</div>{{ end }}
    <ul class="posts-list">
      {{ range .Pages.ByDate.Reverse }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .Date.Format "Jan 2, 2006" }}
            {{ with .Params.event }}
              <span class="posts-list-item-separator">-</span>
              {{ . }}
            {{ end }}
          </span>
        </li>
      {{ end }}
    </ul>
  </article>
{{ end }}
