{{- $target := .Params.redirectTo | default .Params.to | default .Params.url | default "/" -}}
<!doctype html>
<html lang="{{ .Site.LanguageCode | default "ja-jp" }}">
<head>
  <meta charset="utf-8" />
  <title>Redirecting...</title>
  <link rel="canonical" href="{{ $target | absURL }}" />
  <meta http-equiv="refresh" content="0; url={{ $target | safeURL }}" />
  <script>
    window.location.replace({{ $target | jsonify | safeJS }});
  </script>
</head>
<body>
  <p>リダイレクト中...</p>
  <p><a href="{{ $target | safeURL }}">移動しない場合はこちら</a></p>
</body>
</html>
